# URL模板1
https://www.freeclashnode.com/uploads/{{ current_date.strftime('%Y/%m') }}/0-{{ current_date.strftime('%Y%m%d') }}.yaml

# URL模板2
https://www.freeclashnode.com/uploads/{{ current_date.strftime('%Y/%m') }}/1-{{ current_date.strftime('%Y%m%d') }}.yaml

# URL模板3
https://www.freeclashnode.com/uploads/{{ current_date.strftime('%Y/%m') }}/2-{{ current_date.strftime('%Y%m%d') }}.yaml

# URL模板4
https://apiurl.v1.mk/sub?target=clash&url=https://www.freeclashnode.com/uploads/{{ current_date.strftime('%Y/%m') }}/1-{{ current_date.strftime('%Y%m%d') }}.txt&insert=false&config=https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/config/ACL4SSR_Online_Full_NoAuto.ini&emoji=true&list=false&xudp=false&udp=false&tfo=false&expand=true&scv=false&fdn=false&new_name=true

# URL模板5
https://apiurl.v1.mk/sub?target=clash&url=https://www.freeclashnode.com/uploads/{{ current_date.strftime('%Y/%m') }}/2-{{ current_date.strftime('%Y%m%d') }}.txt&insert=false&config=https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/config/ACL4SSR_Online_Full_NoAuto.ini&emoji=true&list=false&xudp=false&udp=false&tfo=false&expand=true&scv=false&fdn=false&new_name=true